In [12]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('../vuelos.db')

In [17]:
df = pd.read_sql_query("select count(*) as c, origin from ontime group by origin", conn)
df

           c Origin
0     122976    ABE
1      21713    ABI
2     760324    ABQ
3       8035    ABY
4       1812    ACK
5      21081    ACT
6      23782    ACV
7       8798    ACY
8        589    ADK
9      10327    ADQ
10     17245    AEX
11     53378    AGS
12      6005    AKN
13    292764    ALB
14      1564    ALO
15    132477    AMA
16    395392    ANC
17       475    ANI
18      4074    APF
19     14345    ASE
20   6100953    ATL
21     25058    ATW
22    803559    AUS
23     57089    AVL
24     47105    AVP
25     64911    AZO
26    650963    BDL
27     19810    BET
28         1    BFF
29         1    BFI
..       ...    ...
317    18034    SUX
318    57400    SWF
319   337108    SYR
320      683    TEX
321   102420    TLH
322    58747    TOL
323  1321652    TPA
324    48470    TRI
325     1687    TTN
326   471106    TUL
327     1971    TUP
328   413983    TUS
329    35024    TVC
330     3314    TVL
331    12381    TWF
332    11740    TXK
333    20739    TYR
334   199824    TYS
335     4639    UCA
336     2445    VCT
337     1993    VIS
338     7300    VLD
339    57572    VPS
340    15041    WRG
341     1632    WYS
342    88731    XNA
343    15004    YAK
344      709    YAP
345     1863    YKM
346    22923    YUM

[347 rows x 2 columns]